.title {
    color: #454545;
    font-family: "Roboto";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 32px;
}
.add {
    width: 100%;
    border: 1px solid #454545;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all .3s;
}
.add:hover {
    color: #fff;
    background-color: #454545;
}